<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History of MP Police</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/history_style.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&family=Noto+Serif:wght@700&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    <div class="fixed-top bg-new">
        <!-- top bar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img src="/static/img/top-img/bhopal-police.png" alt="" height="60px"">
                                    <h1 class=" fs-1 g-font1" style="font-weight: bold; color: #efd1a7;">MP Police</h1>
                <img src="/static/img/top-img/G-20.png" alt="" height="60px">
            </div>
        </nav>
    
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="/views/user_deshboard">
                    <img src="/static/img/logo/logo.png" alt="pFe" width="50px" class="logo me-3">
                </a>
                <!-- <a class="navbar-brand" href="index">pFe</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/views/user_deshboard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/structure">Structure</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Info Zone
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="https://www.mppolice.gov.in/sites/default/files/Annual_Administrative_Report_2017-2018.pdf"
                                        target="_blank">Annual Admin Report</a></li>
                                <li><a class="dropdown-item" href="/views/who_is_who" target="_blank">Who is
                                        Who</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="https://www.mppolice.gov.in/sites/default/files/documents/ig-sir-plan-detail.pdf"
                                        target="_blank">Plans of MP Police</a></li>
                                <li><a class="dropdown-item"
                                        href="https://www.mppolice.gov.in/sites/default/files/stc2020/Statistical-Data-2021.pdf"
                                        target="_blank">Statistical Data</a></li>
                                <li><a class="dropdown-item" href="#">History of MP
                                        Police</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Police Stations
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/police_station">Aishbag Police
                                        Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/police_station">Ashoka Garden Police
                                        Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/police_station">Bairagarh Police
                                        Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/police_station">Ghandhi Nagar Police
                                        Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/police_station">Govindpura Police
                                        Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/police_station">MP Nagar Police
                                        Station</a>
                                </li>
                                <li><a class="dropdown-item" href="/views/police_station">Ratibarh Police
                                        Station</a>
                                </li>
                            </ul>
                        </li>
    
    
                        <li class="nav-item">
                            <a class="nav-link" href="/views/about">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact us</a>
                        </li>
                    </ul>

                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight">
                        <img src="/static/img/icon/account.svg" class="white-icon" alt="Account" width="40px">
                    </button>
                </div>
            </div>
        </nav>
    
    </div>


    <!-- Right canvas (User Account) -->
    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="container">
            <img src="/static/img/icon/account.svg" class="white-icon" width="100px" alt="">
        </div>
        <div class="offcanvas-header text-white">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Account</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-header text-white">
            <h6 class="offcanvas-title" id="offcanvasRightLabel">ID</h6>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/views/user_deshboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/user_history">Your Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/availability">Your Availability</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/assigned_work">Assigned Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/progress">Work Status</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Admin Login Modal -->
    <div class="modal fade" id="adminloginModal" tabindex="-1" aria-labelledby="adminloginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 2px solid #394dff;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="adminloginModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <img class="mb-4" src="/static/img/logo/logo.png" alt="" width="72" height="57">
    
                        <div class="form-floating my-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Admin ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button class="w-10 btn btn-lg mb-3 forgot-pass" type="button">Forgot Password</button>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- History -->
    <div class="container my-8">
        <h1>History</h1>
        <div>
            <h2>History of MP Police</h2>
            <p>Madhya Pradesh, in its present form into existence on 1 November
                2000 following its bifurcation to create a new state of Chhattisgarh.Reorganization of states led to the
                formation of
                state of M. P. on 1.11.1956 comprising of the erstwhile central province of Bhopal, Madhya Bharat &
                Vindhya Pradesh.

                On the day of its birth the state had a complement of 252 Gazetted Officers and 39785 Non Gazetted
                Officers and men
                covering 739 Police Station. Six posts of DIG were created in the new state. The post of DIG of Police
                SAF & DIG of
                Police Admin.were added later in 1958 & 1959 respectively.23 new police stations were established mainly
                in the dacoit
                infested areas as part of a larger scheme to strike a decisive blow to organize and arrested dacoit
                gangs. Strength of
                the Distt. Executive Force & the SAF were augmented, keeping in view the law and order situation with
                the State.</p>
        </div>

        <div class="container d-flex justify-content-center align-items-center">
            <img src="/static/img/Madhya_Pradesh.png" alt="Madhya Pradesh" class="rounded-3 img-style my-5"
                style="width: 80vw;">
        </div>

        <div>
            <p>To keep pace with the needs of a fast developing state, the Indian Police Service and State Service Cadre
                were suitably
                expanded. Existing Police Regulations were revised with a view to ensure uniformity of police working
                throughout the
                state. The administration of the Police throughout the General Police District invested in the IG of
                Police and his
                assistants at the PHQ. During these years, the M.P.Police force saw 12 Inspectors-General of Police and
                the up gradation
                of IG's post to Director General of Police .The first IG of the new state was Shri B.G.Ghate, who was
                succeeded by Shri
                K. F. Rustamji in 1958.

                Shri Rustamji had the distinction of leading the force for 7 years before he was chosen to create a new
                Central Force,
                the Border Security Force. It was during Shri Rustamji's time that the Police Force achieved many
                milestones, including
                starting of Forensic Science Laboratory in 1964.</p>

            <h2>History of AJK (Anusuchit Janjati Kalyan)</h2>

            <p>Madhya Pradesh has a sizeable population of Scheduled Tribes and scheduled castes, who have remained cut
                off from the
                mainstream for centuries. Most of them lived in abject poverty under sub-human conditions, and were
                exploited by the
                society in general.

                With the emergence of social-justice as a major concept in our democratic polity, old laws relating to
                the
                underprivileged classes were reviewed and more empowering social enactments were introduced by the
                parliament. At the
                same time, the role of police began to be conceived, not as mere enforcement machinery, but as the
                agents of social
                change.

                Consequently, it was enjoined on police to play a more decisive role in the implementation of social
                laws. The
                Government of Madhya Pradesh, recognizing this change and realizing that normal police structure will
                not be sufficient
                to play the desired role, created specialized police set-up for this. Consequently, a separate Anusuchit
                Jati Janjati
                Kalyan Wing(AJK) was created in 1973, and special AJK police stations look into the complains of SC/ST
                persons and
                investigate cases registered on such complaints. The network of AJK police stations works under a
                separate ADG level
                officer and form a very important constituent of M.P.Police today.</p>

            <h2>Structural Changes and Modernization</h2>
            <p>
                With the growing use of scientific technology, professionalism and multifarious urban based problems,
                the police had to
                make corresponding organizational improvements, in training and make technological advancements in tune
                with the times.

                The first step in this direction was enacting of Special Act armed force in 1968.This act has special
                provisions for
                better disciplinary control of armed personnel. To impart specialized training in field craft, to be
                able to deal with
                dacoits and Naxalites, the state police up graded its training centers and established Armed Police
                Training College at
                Indore in 1982, to cater to the needs of SAF personnel. Similarly the training college, established in
                1906 at Sagar,
                was up graded as Police Academy later on, with a new perspective and academic flair to train the
                directly recruited
                Sub-Inspectors and Deputy Superintendents of Police.

                Housing of police-men has been a problem with all police forces in the country and the M.P. police also
                faced this
                problem. Consequently, in 1981, a separate Police Housing Corporation was established by the state
                government for the
                construction of residential houses of policemen in far off areas where the PWD would not normally work.
                The corporation
                has constructed nearly 10,000 residential houses of policemen so far.

                The western part of the state witnessed increased activities of smugglers in narcotics substances,
                Mandsaur being the
                largest opium producing district in the country. After the passing of Special Act to deal with narcotics
                substances, the
                state police created a separate Narcotics wing headed by an officer of ADG rank to deal with this
                problem in 1996.

                Upkeep of crime records also needed to be computerized with the introduction of computer technology. As
                part of the
                countrywide programme of computerization of crime records, the state police established its computer
                wing in 1977 which
                was later converted into State Crime Record Bureau on the lines of NCRB.Subsequently all the districts
                were supplied
                with computers to bring their crime records on the computer system. Looking to the large size of the
                state, the state
                police set-up was re-organized in 1999 and officers of the rank of IG were posted to all ranges for
                better control and
                supervision of the work.

                Numerous improvements were made in the communication, weaponry, riot control methods and traffic
                control, which need no
                elaboration. The state police is officer oriented in working and is rated very high in its performance
                amongst all the
                state police forces in the country today. Several of its armed battalions are deployed ex-state, since
                sixties
                permanently and are doing excellent work for the maintenance of law and order and counter-insurgency.

                The state police is looking forward to enter the new millennium with a high head and history that would
                make any one
                feel proud.
            </p>

            <h2>Past Challenges
                Dacoit Problem</h2>

            <p>
                The most important problem which the new State of Madhya Pradesh had to face was the growing menace of
                Dacoity in the
                northern districts of Chambal ravines and the north eastern districts of Chambal ravines and the north
                eastern districts
                of Bundelkhand.

                The problem of dacoity in these areas was rooted in the history of it's people, the nature of terrain
                and the primitive
                life of vendetta. When the new State of Madhya Pradesh came into being, these areas were swarming with
                formidable dacoit
                gangs.

                As a result, the fabric of law and order in that area was steadily weakening. Under the stewardship of
                Shri Rustamji, a
                scheme was drawn up for strengthening the Police force and improving wireless network in that area. The
                implementation
                of the scheme, coupled with the grit shown by officers and men, paid rich dividends and leading dacoit
                gangs: namely
                Putly, the Bandit Queen Phoolan Devi, Amritlal, Roopa, Gabbar, Kalla and Lakhan Singh which were
                synonymous with terror
                passed into the bowels of history.

                Similar success was achieved in Budelkhand area where dreaded gang of Moorat Singh and Chaliraja were
                liquidated.The
                good work done by the State Police was recognized and complimented by the president of India, Dr.
                Rajendra Prasad on the
                occasion of the ceremonial parade held at Gwalior to honor the Police Units taking part in these
                operations. The dacoity
                menace was not completely eradicated, but the backbone of the problem was broken and in about a decade
                time, the police
                was on the ascendancy. This demoralized the dacoit gangs completely and they were forced to seek an
                honorable surrender.
                In 1972, therefore with the efforts of the peace mission headed by Shri Jayprakash Narayan, nearly 550
                dacoits
                surrendered, peace and prosperity returned to the area after centuries.

                The dacoity problem, however, cropped up again in the eighties with the formation of the gangs of
                Malkhan Singh, Mohar
                Singh and Ramesh Sikarwar. The State Government had to enact a Special Law in 1981, the Madhya Pradesh
                Dakaity Prabhavit
                Kshektra Adhiniyam, with special powers to police. Armed with these special powers the police again
                moved into action
                and eliminated most of the notorious gangs in encounters. Later, Malkhan Singh, Ramesh Sikhawar and
                Phoolan Devi
                surrendered before the Chief Minister, Shri Arjun Singh and again peace was restored. The special law
                was repealed there
                after.

                The dacoit problem has not been completely eradicated and a lasting solution lies largely in terms of
                socio-economic
                remedy. Today, the problem does exist, but within manageable limits.
            </p>

            <h2>Naxalite Activities</h2>
            <p>
                The State Police had hardly contained the dacoity menace, when in it's southern-most Bastar area then a
                part of MP, the
                presence of naxalities of Peoples War Group started being noticed in the eighties.

                The Naxalites infiltrated from across the adjoining areas of Andhra Pradesh. Initially, they used the
                forests of Bastar
                as a sanctuary for shelter, but gradually, after surveying the entire area, they started delivering
                "instant-justice" to
                tribal against their exploitation by some unscrupulous forest officials.

                By the year 1990, they organized themselves for committing violent incidents and spread their tentacles
                into the forest
                covered regions right up to the middle of the state in Mandla district. Their activities assumed
                threatening postures
                affecting 3 ranges of the state, with as many as 18 'Dalams' operating in M.P. Armed with sophisticated
                weapons, like
                AK-47 rifles and trained in remote control explosive devices, they ambushed police patrolling parties
                which has taken a
                toll of 98 policemen so far. There have also been sporadic instances of attack on isolated stations and
                looting of their
                armory.

                The state government allocated substantial funds to meet this challenge under the anti-naxalite plan,
                which helped the
                state police improve their resources in the past 5 years. It was therefore, possible for taking counter
                measures which
                have accounted for 40 Naxalites being killed in 10 encounters and more than 50 Naxalites carrying
                rewards on their heads
                being arrested. The naxalite activities nevertheless, continue to be a major problem for the state
                police and a matter
                of concern for the state government however it has reduced in area as most of the naxalite affected area
                has gone to
                chhatishgarh on division of state.
            </p>

            <h2>Communal Disturbances</h2>
            <p>
                The state faced communal disturbances throughout its history in the post -Independence period. The
                districts of
                erstwhile Madhya Bharat and Bhopal States have remained particularly communally sensitive because of
                various factors and
                where there are pockets of large population of minority communities.

                Few districts of the state have been identified as communally sensitive or hyper sensitive.
                Consequently, there have
                been instances of major communal riots in the state since 1956 onwards. These occurred at Bhopal(1959),
                Jabalpur(1961),
                Raigrah(1964), Indore(1964), Burhanpur(1971), Khargone(1974), Mhow(1980), Sendhwa(1984), Sehore(1986)
                and Bhopal and
                Ujjain(1992).The riots at the last two places occurred following the demolition of Ayodhya structure,
                which engulfed
                more than a dozen districts of the state, the worst affected being Bhopal. After that, however, the
                state is enjoying a
                period of relative communal harmony.

                The state police has a very good track record in dealing with communal riots, not only for its
                impartiality of action
                but also due to the fact that in none of the judicial enquiries following communal riots, the police has
                been indicted
                for high handiness or impropriety. In 1984, the state government, issued an order to reward those police
                officers who
                did good work in prevention of communal riots, by way of two to four increments in pay.
            </p>

            <a href="https://www.mppolice.gov.in/sites/default/files/documents/HistoryofMPPolice.pdf" target="_blank"
                class="download-style">Click here to download document for more information</a>
            <p>(Size: 59.4 MB, Format: PDF, Language: English)</p>
        </div>

    </div>


    <!-- our team member -->
    <div class="container text-center my-6" id="community">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center justify-content-end p-3 pe-3 text-primary-emphasis bg-light-subtle g-font1 fs-4">
                    Our Community
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/hariom.jpg" alt="H" width="48"
                        height="48">Hariom
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/atul.jpg" alt="A" width="48"
                        height="48">Atul
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/himashu.jpg" alt="H" width="48"
                        height="48">Himanshu
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/revi.jpg" alt="R" width="48"
                        height="48">Ravi
                </span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 my-1">
                <span
                    class="badge d-flex align-items-center p-1 pe-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                    <img class="rounded-circle me-1" src="/static/img/Our-team-member/aachal.jpg" alt="A" width="48"
                        height="48">Aachal
                </span>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div class="bg-new">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <a href="/views/user_deshboard"
                        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                        <img src="/static/img/logo/logo.png" class="logo" alt="logo" width="100px">
                    </a>
                </div>
    
                <div class="col mb-3">
    
                </div>
    
                <div class="col mb-3">
                    <h5>Navbar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/views/index"
                                class="nav-link p-0 text-body-secondary fs-5">Home</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/views/service"
                                class="nav-link p-0 text-body-secondary fs-5">Service</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/views/structure"
                                class="nav-link p-0 text-body-secondary fs-5">Structure</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/views/about"
                                class="nav-link p-0 text-body-secondary fs-5">About us</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#contact" class="nav-link p-0 text-body-secondary fs-5">Contact
                                us</a>
                        </li>
                    </ul>
                </div>
    
                <div class="col mb-3">
                    <h5>User</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary fs-5">Feedback</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/views/helpli"
                                class="nav-link p-0 text-body-secondary fs-5">Helpline</a>
                        </li>
                    </ul>
                </div>
    
                <div class="col mb-3">
                    <h5>Community</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/views/admin" class="nav-link p-0 text-body-secondary fs-5"
                                data-bs-toggle="modal" data-bs-target="#adminloginModal">Admin
                                Section</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#community" class="nav-link p-0 text-body-secondary fs-5">Our
                                community</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/views/who_is_who"
                                class="nav-link p-0 text-body-secondary fs-5">Our
                                candidates</a></li>
                        <li class="nav-item mb-2"><a href="/views/user_history"
                                class="nav-link p-0 text-body-secondary fs-5">History</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary g-font1 fw-bold fs-4" id="contact">
                        <p class="text-white">© 2023 pFe, Inc</p>
                        <p class="text-white">Email: supportpfe@gmail.com<br>Contact: 9302765839</p>
                    </span>
                </div>
    
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-body-secondary white-icon "
                            href="https://www.linkedin.com/in/hariom-singh-rajput/"><img src="/static/img/icon/linkedin.svg"
                                alt="" width="25px"></a></li>
                    <li class="ms-3"><a class="text-body-secondary white-icon "
                            href="https://www.facebook.com/profile.php?id=100053355981532"><img
                                src="/static/img/icon/facebook.svg" alt="" width="25px"></a></li>
                    <li class="ms-3"><a class="text-body-secondary white-icon " href="https://www.instagram.com/"><img
                                src="/static/img/icon/instagram.svg" alt="" width="25px"></a></li>
                    <li class="ms-3"><a class="text-body-secondary white-icon " href="https://www.whatsapp.com/"><img
                                src="/static/img/icon/whatsapp.svg" alt="" width="25px"></a></li>
                </ul>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>